.container {
    width: 600px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row-reverse; untuk ngatur arah atau direction defaultnya adalah row, (row, row-reverse, column, column-reverse) */
    /* flex-wrap: wrap; kalau udh ga muat bakalan kebawah defaultnya wrap (wrap, reverse wrap) */
    /* justify-content: flex-start; defaultnya adalah flex-start (flex-start --> mulai dimana, flex-end --> berakhir dimana, center --> di tengah, space-between --> element pertama mepet kiri, elemen terakhir mepet kanan sisanya dibagi rata, space-around --> 1/2 kiri 1/2 kanan, space-evenly --> semuanya sama) */
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: rgb(19, 133, 255);
    float: left;
    margin: 2px;
}