.container {
    width: 600px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row-reverse; untuk ngatur arah atau direction */
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: rgb(19, 133, 255);
    float: left;
    margin: 2px;
}